@import '../../../common/styles/main.scss';

.factory-pg {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2%;
  background-color: $light;
  padding: 2% 8%;

  .factory-pg__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    padding: 2%;
    gap: 2%;
    background-color: $light-pink;
    border-radius: 15px;
    border: 2px solid $dark-red;

    .factory-pg__placeholder {
      text-align: center;
      color: $dark-red;
      font-size: 1.5em;
      margin-top: 25%;

      .button__catalogue {
        position: static;
      }
    }
  }

  .factory-pg__title {
    color: $dark-red;
    text-align: center;
    font-size: 1.8em;
  }

  .factory-pg__cookie-count {
    position: absolute;
    padding: 1.5%;
    right: 2%;
    top: 2%;
    border: 2px solid $dark-red;
    border-radius: 15px;
    background-color: $light-pink;
    color: $dark-red;
    font-weight: 600;
  }

  .button__catalogue {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 50px;
    height: 50px;
    background-image: url('../../../common/assets/images/catalogue.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (max-width: 820px) {
  .factory-pg {
    padding: 3% 10%;

    .factory-pg__container {
      overflow-y: auto;

      .factory-pg__placeholder {
        font-size: 1.3em;
      }
    }

    .factory-pg__title {
      font-size: 1.5em;
    }

    .button__catalogue {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 460px) {
  .factory-pg {
    padding: 4% 12%;

    .factory-pg__container {
      .factory-pg__placeholder {
        font-size: 1.1em;
      }
    }

    .factory-pg__title {
      font-size: 1.3em;
    }

    .button__catalogue {
      width: 30px;
      height: 30px;
    }
  }
}
