@import '../../styles/main.scss';

.factory {
  display: flex;
  width: 100%;
  padding: 2%;
  height: 200px;
  background-color: $cookie;
  border-radius: 15px;
  border: 2px solid $dark-red;
  color: $dark-red;

  .factory__img {
    width: 30%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .factory__text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 0 3%;
    justify-content: space-between;

    .factory__title {
      text-align: center;
    }

    .factory__description {
      height: 60%;
      padding: 3%;
      background-color: $light-pink;
      border: 1px solid $dark-red;
      border-radius: 15px;
    }

    .factory__upgrade {
      text-align: end;
    }
  }

  .factory__buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50px;
    height: 100%;

    .button {
      border-radius: 15px;
      background-color: transparent;
      height: 50px;
      border: none;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .factory__production {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      border: 2px solid $dark-red;
      background-color: $light;
      border-radius: 15px;
    }

    .button__remove {
      background-image: url('../../assets/images/remove.png');
    }

    .button__upgrade {
      background-image: url('../../assets/images/upgrade.png');

      &:disabled {
        filter: grayscale(100%);
        cursor: not-allowed;
      }
    }
  }
}

.catalogue__factory {
  flex-direction: column;
  height: 90%;
  width: 32%;
  justify-content: space-between;

  .factory__title {
    text-align: center;
  }

  .factory__img {
    width: 100%;
    height: 40%;
  }

  .button__buy-factory {
    height: 10%;
    border-radius: 15px;
    background-color: $dark-red;
    color: $light;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}
