@import '../../styles/main.scss';

.factory {
  display: flex;
  width: 100%;
  padding: 2%;
  height: 200px;
  background-color: $cookie;
  border-radius: 15px;
  border: 2px solid $dark-red;
  color: $dark-red;

  .factory__img {
    width: 30%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .factory__text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding: 0 3%;
    justify-content: space-between;

    .factory__title {
      text-align: center;
    }

    .factory__description {
      height: 60%;
      padding: 3%;
      background-color: $light-pink;
      border: 1px solid $dark-red;
      border-radius: 15px;
    }

    .factory__upgrade {
      text-align: end;
    }
  }

  .factory__buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50px;
    height: 100%;

    .button {
      border-radius: 15px;
      background-color: transparent;
      height: 50px;
      border: none;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .factory__production {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      border: 2px solid $dark-red;
      background-color: $light;
      border-radius: 15px;
    }

    .button__remove {
      background-image: url('../../assets/images/remove.png');
    }

    .button__upgrade {
      background-image: url('../../assets/images/upgrade.png');

      &:disabled {
        filter: grayscale(100%);
        cursor: not-allowed;
      }
    }
  }
}

.catalogue__factory {
  flex-direction: column;
  height: 100%;
  width: 32%;
  justify-content: space-between;

  .factory__title {
    text-align: center;
  }

  .factory__img {
    width: 100%;
    height: 40%;
  }

  .factory__price-cont {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
    padding: 2%;
    border-radius: 15px;
    background-color: $light;

    .factory__currency {
      width: 20%;
      height: 100%;
      background-image: url('../../assets/cookies/cake\(1-7\).png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .button__buy-factory {
    height: 10%;
    border-radius: 15px;
    background-color: $dark-red;
    color: $light;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &:disabled {
      filter: grayscale(100%);
      cursor: not-allowed;

      &:hover {
        transform: none;
      }

      &.bought {
        filter: none;
        cursor: default;
        background-color: transparent;
        background-image: url('../../assets/images/check.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (max-width: 820px) {
  .factory {
    height: 30%;
    min-height: 150px;
    font-size: 0.85em;

    .factory__img {
      width: 20%;
    }

    .factory__text-container {
      width: 75%;
      .factory__upgrade {
        font-size: 0.8em;
      }

      .factory__description {
        overflow-y: auto;
      }
    }

    .factory__buttons {
      width: 40px;

      .button {
        height: 40px;
      }

      .factory__production {
        height: 40px;
      }
    }
  }

  .catalogue__factory {
    flex-direction: column;
    height: 100%;
    width: 32%;

    .factory__img {
      width: 100%;
      height: 30%;
    }

    .factory__description {
      height: 40%;
      overflow-y: auto;
      font-size: 0.8em;
    }

    .button__buy-factory {
      height: 10%;
      font-size: 0.8em;
    }
  }
}

@media (max-width: 600px) {
  .catalogue__factory {
    flex-direction: column;
    height: 50%;
    width: 100%;

    .factory__img {
      width: 100%;
      height: 40%;
    }

    .factory__description {
      height: 40%;
      overflow-y: auto;
      font-size: 0.8em;
    }

    .factory__price-cont {
      padding: 1%;
    }
    .button__buy-factory {
      height: 10%;
      font-size: 0.8em;
    }
  }
}

@media (max-width: 460px) {
  .factory {
    min-height: 100px;
    font-size: 0.65em;

    .factory__text-container {
      .factory__upgrade {
        font-size: 0.7em;
      }
    }

    .factory__buttons {
      width: 30px;

      .button {
        height: 30px;
      }

      .factory__production {
        height: 30px;
      }
    }
  }

  .catalogue__factory {
    .factory__description {
      font-size: 0.7em;
    }

    .button__buy-factory {
      height: 10%;
      font-size: 0.7em;
    }
  }
}
