@import './abstracts/base';

* {
  font-family: $font-usual;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $brown-transparent;
}
