html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul,
button {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}
