@import '../../../common/styles/main';

.entrance {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $light;
  background-size: contain;

  .entrance__menu {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 5% 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10%;
    align-items: center;

    .entrance__title {
      position: relative;
      font-family: $font-title;
      font-size: 6em;
      color: $cookie;
      text-shadow: 2px 2px $dark-red, -2px -2px $dark-red, 2px -2px $dark-red,
        -2px 2px $dark-red;
    }

    .entrance__buttons {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      padding: 5% 15%;
      gap: 5%;

      .button {
        width: 100%;
        padding: 2% 5%;
        font-size: 1.8em;
        font-weight: 700;
        border-radius: 15px;
        border: 2px solid $dark-red;
        outline: none;
        background-color: $light-pink;
        color: $dark-red;
        cursor: pointer;

        &:hover {
          box-shadow: inset 6px 6px $cookie;
          background-color: #e9b68c;
          font-size: 1.7em;
        }
      }
    }
  }

  .entrance__image {
    position: absolute;
    width: 40%;
    max-width: 480px;
    z-index: 0;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 820px) {
  .entrance {
    .entrance__menu {
      padding: 5% 10%;
      .entrance__title {
        font-size: 4.5em;
      }

      .entrance__buttons {
        .button {
          font-size: 1.5em;

          &:hover {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .entrance {
    .entrance__menu {
      padding: 5% 5%;
      .entrance__title {
        font-size: 3em;
      }

      .entrance__buttons {
        .button {
          font-size: 1.2em;

          &:hover {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}
