//Fonts
// $font-title: 'Weroth', serif;
$font-usual: 'Comfortaa', serif;

//Colors
$light: #f2d8d8;
$light-pink: #f0c4a1;
$cookie: #d7996b;
$dark-red: #732002;
$brown: #4e3518;
$brown-transparent: #4e351871;
$deep-pink: #f39a79;
$bright-red: #de1212;
$shadow-light-pink: #e9b68c;
$green-blue: #68c9c1;
$blue: #7ca9d4;
$dark-green-blue: #22475b;
