//Fonts
// $font-title: 'Weroth', serif;
$font-usual: 'Comfortaa', serif;

//Colors
$light: #f2d8d8;
$light-pink: #f0c4a1;
$cookie: #d7996b;
$dark-red: #732002;
$brown: #4e3518;
$brown-transparent: #4e351871;
$deep-pink: #f39a79;
$bright-red: #de1212;
$red: #a10505;
$yellow: #f6cb3d;
$shadow-light-pink: #e9b68c;
$light-blue: #a4c5e3;
$green-blue: #68c9c1;
$white-blue: #cfe7fa;
$transparent-green-blue: #1b8fb9b2;
$blue: #6393c1;
$dark-green-blue: #22475b;

$blow: '../../common/assets/cookies/explosion.png';
