@import '../../../common/styles/main';

.wrapper-game {
  background-color: $light;
  display: flex;
  flex-direction: column;
  height: 100vh;
  .game{
    flex: 1 1 auto;
    display: flex;
    
    &__field{
flex-grow: 1;
position: relative;
    }
  }
  .boosters{
    width: 100%;
    height: 5rem;
    background-color: $light-pink;
  }

}
