@import '../../../common/styles/main';

.wrapper-game {
  background-color: $light;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .game {
    flex: 1 1 auto;
    display: flex;

    &-field {
      flex-grow: 1;
      position: relative;
    }
  }

  .game-boosters {
    width: 100%;
    height: 5rem;
    background-color: $light-pink;
  }
}
