@import '../../common/styles/main.scss';

.popup__body-confirmation {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;
  color: $dark-red;
  font-size: 1.5em;
  text-align: center;

  .popup__text {
    margin-bottom: 20%;
  }

  .button__confirm {
    width: 50%;
    font-size: 0.8em;
    padding: 2%;
    border-radius: 15px;
    background-color: $dark-red;
    color: $light;

    &:hover {
      transform: scale(1.05);
    }
  }
}
