@import '../../common/styles/main.scss';

.popup__body-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 95%;
  width: 100%;
  overflow-y: auto;
  font-size: 1.5em;
  color: $dark-red;

  .popup__inputs {
    display: flex;
    flex-direction: column;
    height: 60%;
    min-height: 200px;
    width: 100%;
    padding: 5% 10%;
    gap: 15%;

    .popup__input {
      padding: 1.5%;
      font-size: 1em;
      border-radius: 15px;
      border: 2px solid $dark-red;
      background-color: $light;
      color: $dark-red;

      &::placeholder {
        color: $cookie;
      }
    }

    .popup__login-info {
      font-size: 0.7em;
      margin-bottom: 5%;
    }
  }

  .button__enter {
    padding: 2%;
    border-radius: 15px;
    font-size: 1em;
    background-color: $dark-red;
    color: $light;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &:disabled {
      filter: grayscale(100%);
      cursor: not-allowed;

      &:hover {
        transform: none;
      }
    }
  }

  &.register {
    .popup__inputs {
      gap: 0;
    }
  }
}

@media (max-width: 820px) {
  .popup__body-sign {
    font-size: 1.2em;

    .popup__inputs {
      min-height: 170px;
    }
  }
}

@media (max-width: 460px) {
  .popup__body-sign {
    font-size: 1em;

    .popup__inputs {
      min-height: 150px;
    }

    .button__enter {
      font-size: 0.8em;
    }
  }
}
