@import '../../common/styles/main.scss';

.popup__body {
  display: flex;
  height: 95%;
  width: 100%;
  padding: 1% 0;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .popup__body {
    flex-direction: column;
    overflow-y: auto;
    gap: 2%;
  }
}
