@import '../styles/main.scss';

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 3em;
  background-color: $light;
  color: $dark-red;
  cursor: pointer;
}
